<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    package="com.example.go2climb_app">

    <!-- Permiso de Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Aquí va la configuración de la aplicación -->
    <application android:label="go2climb_app">
        <!-- Otras configuraciones, como actividades y metadatos, irán aquí -->
    </application>
</manifest>
